[Desktop Entry]

Name = Connect
Exec = sudo python3 /home/pi/joycontrol/run_controller_cli.py PRO_CONTROLLER
Icon = /home/pi/joycontrol/icon/link.ico
Terminal = true
MultipleArgs = false
Type = Application
Categories = Application;Development
StartupNotify = true
NoDisplay = true
